*{
margin: 0;
padding: 0;
box-sizing:border-box;
}

img{ 

margin-top: 220px;
width:420px;
margin-left:900px;
height: 600px;
position: fixed;
}


#corpo{
  
  background-color: black;
}

.cabecalho{
  font-size: 30px;
  color: antiquewhite;
  cursor: pointer;
  margin-top: 220px;
  right: 360px;
  font-style:italic;
  margin-left: 0px;
  position: fixed;
}

 #flex{
display: flex;

 }
a{
  color: aliceblue;
  margin-right: 15px;
}

a:hover{

  color: aquamarine;
}

.pesqu{

top: 80px;
left: 30px;
background-color:cornflowerblue;
border-radius: 10px;
border: none;
margin-left: 700px;


}

#botao{

  left: 30px;
  color:aliceblue;
background-color:cornflowerblue;
border-radius: 10px;
border: none;
}


#principal{
margin-left:180px;
  font-size: 140px;
font-weight: 200px;
  color: rgb(252, 236, 90);
  position: fixed;
margin-top: 20px;

}


button{
  
 margin-right: 0px;
 border-radius: 20px;
 border:none;
 width: 124px;
 height: 35px;
 background-color: aquamarine;
 cursor: pointer;
 line-height: 20px;
letter-spacing: 2px;
color:white;
font-size: 15px;
font-weight: 500px;
}
h1::before{ content:" ";



}
  
button:hover{

  color: orange;
}

button:focus{   

border: 1px solid orange;

  }

a:active{opacity: 0.3;}
a:nth-child(2){color: brown;}
a{cursor: pointer;}



